<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418218951034-qqs98ejqmvhpu3jo3afegllv2be10qlo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418218951034-qqs98ejqmvhpu3jo3afegllv2be10qlo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>418218951034-enqm2fgint929bpkepsrnob3bkfcais6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXhha15c4O-VXJRIftrWLhKOJvvlmq96Q</string>
	<key>GCM_SENDER_ID</key>
	<string>418218951034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lipolin.ShareEat</string>
	<key>PROJECT_ID</key>
	<string>webproject2-6e11b</string>
	<key>STORAGE_BUCKET</key>
	<string>webproject2-6e11b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418218951034:ios:3839b2fc4a3542599456c3</string>
	<key>DATABASE_URL</key>
	<string>https://webproject2-6e11b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>